@tailwind base;
@tailwind components;
@tailwind utilities;

.tw-cart-bubble {
  outline-width: 0px;
  outline-color: rgb(var(--color-background));
  outline-style: solid;
}

.hover\:tw-hover-cart:hover .tw-cart-bubble {
  outline-width: 0.2rem;
}

@font-face {
  font-family: 'Aurek Besh';
  src: url('AurekBesh.woff') format('woff');
  font-style: normal;
}
.tw-aurek {
  font-family: 'Aurek Besh';
}

@keyframes scramble {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  25% {
    opacity: 1;
    transform: translateY(0);
  }
  75% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

.scramble-text {
  display: inline-block;
}
